<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uiCookies:Enlight &mdash; Free Bootstrap Theme, Free Responsive Bootstrap Website Template</title>
    <meta name="description" content="Free Bootstrap Theme by uicookes.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/autoload.js') }}"></script>
    
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
    <style>
      .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer; 
      }
    </style>
  </head>
  <body>

    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      
      
      
      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>About The School</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        <h1 style='margin-left:5%;'> Add Section {{ SectionName }} Content </h1>
        <div class='container' id='input-form'>
          <div class='row'>
            <div class='col-md-3'>
              <h3> Materials: </h3> 
            </div>
            <div class='col-md-6'>
              <form id='file-form' method="POST" enctype='multipart/form-data'>
                <input type="file" multiple name='file' id="file" style="display: none;" onchange="javascript:updateList()"/>
                <input type="button" value="Upload File..." onclick="document.getElementById('file').click();" />
              </form>
              <p>Selected files:</p>
              <div id="fileList"></div>
            </div>
          </div>

          <div class='row'>
            <div class='col-md-3'>
              <h3> External Link: </h3> 
            </div>
            <div class='col-md-9'>
              <input type='text' placeholder='Title' id='title-1'>
              <input type='text' placeholder='Link' size='50' id='link-1'>
              <button onclick='addLink()'> Add More Links </button>
            </div>
          </div>
        </div>
        <div class='container'>
          <div class='row'>
            <div class='col-md-3'>
              <button class='btn btn-primary' onclick='submit()'> Add Content </button>
            </div>
          </div>
        </div>
      </section>
      
    
      <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Contact Info</h3>
                <ul class="probootstrap-contact-info">
                  <li><i class="icon-location2"></i> <span>Prinsep Street</span></li>
                  <li><i class="icon-mail"></i><span>spm@smu.com</span></li>
                  <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                </ul>
              </div>
            </div>
        </div>
      </footer>

    </div>
    <!-- END wrapper -->


    <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script>
      updateList = function() {
        var input = document.getElementById('file');
        var output = document.getElementById('fileList');
        var children = "";
        for (var i = 0; i < input.files.length; ++i) {
          children += `<span id='${input.files.item(i).name}'>` + input.files.item(i).name + ` <button onclick="removeFile('${input.files.item(i).name}')"> Remove File </button> </span>` + "<br>" ;
        }
        output.innerHTML = children;
      }

      function removeFile(id){
        console.log('called')
        document.getElementById(id).remove()
      }
      var counter = 1
      function addLink(){
        counter += 1
        
        var divNode = document.createElement('div')
        divNode.className = "row"
        divNode.style = "margin-bottom:2em;"
        divNode.innerHTML += `
          <div class='col-md-3'>
            
          </div>
          <div class='col-md-9'>
            <input type='text' placeholder='Title' id='title-${counter}'>
            <input type='text' placeholder='Link' size='50' id='link-${counter}'>
          </div>
        `
        document.getElementById('input-form').appendChild(divNode)
        

      }
      function submit(){
        var linkList = []

        for (let i = 1; i <= counter; i++){
          var link = document.getElementById(`link-${i}`).value
          var title = document.getElementById(`title-${i}`).value
          element = {'title': title, 'link': link}
          if (link != ''){
            linkList.push(element)
          }
        }
        console.log(linkList)
        if (linkList.length > 0){
          request = new XMLHttpRequest()
          request.onreadystatechange = function(){

          }
          request.open("POST", HOST + `/uploader/{{ CourseID }}/{{ ClassID }}/{{ SectionID }}` )
          request.setRequestHeader("Content-type", "application/json");
          request.send(JSON.stringify(linkList))
        }

        // SENDING FILE
        files = document.getElementById('file').files
        formData = new FormData()
        var allowedFiles = ['pdf', 'mp4']
        var allowed = true
        for (let i = 0; i < files.length; i++){
          fileName = files.item(i).name
          fileExtension = fileName.split('.')[fileName.split('.').length - 1]
          console.log(fileExtension)
          if (!(allowedFiles.includes(fileExtension))){
            allowed = false
          }
        }
        if (allowed){
          for (let i = 0; i < files.length; i++){
            fileName = files.item(i).name
            file = files.item(i)
            formData.append(i, file, fileName)
          }
          console.log(formData)
          request_file = new XMLHttpRequest()
          request_file.onreadystatechange = function(){
            if (this.status == 200 && this.readyState == 4){
              window.alert('FILE HAS BEEN UPLOADED')
              location.reload()
            }
          }
          request_file.open("POST", HOST + `/uploader-file/{{ CourseID }}/{{ ClassID }}/{{ SectionID }}`)
          request_file.send(formData)
        }
        else{
          window.alert('Some files are not allowed, only ' + allowedFiles.join(', ') + ' are allowed.')
        }
      }


    </script>
  </body>
</html>