<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Class</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">


    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autoload.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/lms_icon.png') }}">


    <script>
      localStorage.courseID = 1
    </script>
  
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        text-align: left;
        padding: 8px;
      }
      </style>
    

  </head>
  <body>

    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      
      {% include 'header_student.html' %}
      
      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1 class="mb0">Create Class</h1>
            </div>
          </div>
        </div>
      </section>

      <div id="errorMsg" style="display: none;" class="alert alert-danger" role="alert">
        Unable to create class. Please check that all fields have been filled in and you have selected at least one trainer.
      </div>

      <section class="probootstrap-section probootstrap-section-sm">
        <div class="container">
            <form>
                <div class="form-group">
                  <label for="classSize">Class Size</label>
                  <input type="number" class="form-control" id="classSize" placeholder="Class Size">
                </div>

                <div class="form-group">
                  <label for="startDate">Class Start Date</label>
                  <input type="datetime-local" class="form-control" id="startDate">
                </div>

                <div class="form-group">
                  <label for="endDate">Class End Date</label>
                  <input type="datetime-local" class="form-control" id="endDate">
                </div>

                <div class="form-group">
                  <label for="regStartDate">Registration Start Date</label>
                  <input type="datetime-local" class="form-control" id="regStartDate">
                </div>

                <div class="form-group">
                  <label for="regEndDate">Registration End Date</label>
                  <input type="datetime-local" class="form-control" id="regEndDate">
                </div>

                <div class="form-group">
                  <label for="trainer">Trainer(s)</label>
                  <select class="form-select form-control" multiple aria-label="multiple select example" id="trainer" size="5">
                  </select>
                </div>

                </div>

              </form>

        </div>
      </section>

      

      

     
      
      <section class="probootstrap-cta">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a href="#" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft" onclick="create_class()">Create</a>
            </div>
          </div>
        </div>
      </section>

      {% include 'footer_student.html' %}

    </div>
    <!-- END wrapper -->
    

    <script src="js/scripts.min.js"></script>
    <script src="js/main.min.js"></script>
    <script src="js/custom.js"></script>

    
    <script>


      var request = new XMLHttpRequest();

      request.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {

          var trainers = JSON.parse(this.responseText).data.trainers;
          console.log("###################")
          console.log(trainers)

          var trainer_input = '';
          

          for(trainer of trainers){
            let trainerID = trainer.UserID;
            let trainerName = trainer.UserName;

            trainer_input += "<option value='" + trainerID + "'>" + trainerName + " </option>"

          }            
          
          document.getElementById("trainer").innerHTML += trainer_input

        }

      };
      request.open("GET", HOST + "/get_trainers")
      request.send();


      function create_class(){
        var courseID = `{{ CourseID }}`;
        var classSize = document.getElementById("classSize").value;
        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;
        var regStartDate = document.getElementById("regStartDate").value;
        var regEndDate = document.getElementById("regEndDate").value;
        var trainerID = document.getElementById("trainer").value;
        var trainerIdList = $('#trainer').val();
        console.log("###############")
        console.log(courseID)
        console.log(classSize)
        console.log(startDate)
        console.log(endDate)
        console.log(regStartDate)
        console.log(regEndDate)
        console.log(trainerID)

        // var msg = [];

        // if(courseTitle.length <= 0){
        //   msg.push("Please fill in the course title");
        // }
        // if(courseDesc.length <= 0){
        //   msg.push("Please fill in the course description");
        // }

        var send_value = {
          CourseID: courseID,
          ClassSize: classSize,
          StartDate: startDate,
          EndDate: endDate,
          RegStartDate: regStartDate,
          RegEndDate: regEndDate,
          TrainerIDList: trainerIdList
        }
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 201) {

              var data = JSON.parse(this.responseText);
              console.log(data)
              window.location.href = HOST + `/view-courses`

            }
            else {
              document.getElementById("errorMsg").style.display = ""
            }
        };
        // console.log(JSON.stringify(send_value))
        request.open("POST", HOST + "/create_class")
        request.setRequestHeader("Content-type", "application/json");
        request.send(JSON.stringify(send_value))

        }

      
    </script>
  </body>
</html>