<nav class="navbar navbar-default probootstrap-navbar">
    <div class="container">
      <div class="navbar-header">
        <!-- <div class="btn-more js-btn-more visible-xs">
          <a href="#"><i class="icon-dots-three-vertical "></i></a>
        </div> -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/hr-home"><img src="{{ url_for('static', filename='img/lms_logo.png') }}" width='100px' height='100px'></a>
      </div>

      <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/hr-home">Home</a></li>
          <li><a href="/hr-home">Forum</a></li>
          <li><a style="color: grey;">Chat (Coming soon)</a></li>
          <li><a href="/learner-acct">Account</a></li>
        </ul>
      </div>
    </div>
  </nav>

<script src="{{ url_for('static', filename='js/autoload.js') }}"></script>
<script>
    var anchor = document.getElementsByTagName('a')
    for (anc of anchor){
        anc.href = anc.href.replace('http://localhost:5001', HOST)
        console.log(anc.href)
    }
</script>