<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HR Home</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autoload.js') }}"></script>


    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      
      <!-- first nav bar -->
      {% include 'header_hr.html' %}



      <section class="probootstrap-section probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              
              <div class="tab-content">

                <div id="featured-news" class="tab-pane fade in active">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="owl-carousel" id="owl1">
                        <div class="item">
                          <a href="/view-courses" class="probootstrap-featured-news-box">
                            <figure class="probootstrap-media"><img src="{{ url_for('static', filename='img/courses.png') }}"  class="img-responsive" width="30" height="50"></figure>
                            <div class="probootstrap-text">
                              <h3>View courses available currently</h3>
                            </div>
                          </a>
                        </div>
                        <!-- END item -->
                        <div class="item">
                          <a href="/view-engineers" class="probootstrap-featured-news-box">
                            <figure class="probootstrap-media"><img src="{{ url_for('static', filename='img/com_engineers.jpeg') }}"  class="img-responsive" width="30" height="50"></figure>
                            <div class="probootstrap-text">
                              <h3>View all engineers available</h3>
                            </div>
                          </a>
                        </div>
                        <!-- END item -->
                        <div class="item">
                          <a href="/view-application" class="probootstrap-featured-news-box">
                            <figure class="probootstrap-media"><img src="{{ url_for('static', filename='img/self_enroll.png') }}"  class="img-responsive" width="30" height="50"></figure>
                            <div class="probootstrap-text">
                              <h3>View Self-Enrolled Application</h3>
                            </div>
                          </a>
                        </div>
                        <!-- END item -->
                      </div>
                    </div>
                  </div>
                  <!-- END row -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      {% include 'footer_student.html' %}

    </div>
    <!-- END wrapper -->
    <script>
      var anchor = document.getElementsByTagName('a')
      for (anc of anchor){
          anc.href = anc.href.replace('http://localhost:5001', HOST)
          console.log(anc.href)
      }
    </script>

  </body>
</html>