<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autoload.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/lms_icon.png') }}">



    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      
      {% include 'header_student.html' %}
      
      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>Account</h1>
              <p id='name'></p>
              <p ></p>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="probootstrap-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-flex-block">
                <div class="probootstrap-text probootstrap-animate">
                  <h3>We Hired Certified Teachers For Our Students</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis explicabo veniam labore ratione illo vero voluptate a deserunt incidunt odio aliquam commodi blanditiis voluptas error non rerum temporibus optio accusantium!</p>
                  <p><a href="#" class="btn btn-primary">Learn More</a></p>
                </div>
                <div class="probootstrap-image probootstrap-animate" style="background-image: url(img/slider_3.jpg)">
                  <a href="https://vimeo.com/45830194" class="btn-video popup-vimeo"><i class="icon-play3"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      
      <section class="probootstrap-section">
        <div class="container">
          

          <div class="row" id="user_details">


        </div>
      </section>
      
      {% include 'footer_student.html' %}
    </div>
    <!-- END wrapper -->

    <script>
      var request = new XMLHttpRequest();

      request.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {

            var data = JSON.parse(this.responseText);
            console.log(data)
            
            learner_course_obj = data.data.learner_courses;
            user_details_list = data.data.user_details

            // to retrieve the user details from the list
            if(user_details_list.length){
              for(user in user_details_list){
                var userid = user_details_list[user].UserID;
                var name = user_details_list[user].UserName;
                var type = user_details_list[user].UserType;
              }
            }

            //to see if the status is completed and come out with the list of completed courses
            completed_courses = [];
            for (i in learner_course_obj){
              if(learner_course_obj[i].ApplicationStatus == "completed"){
                completed_courses.push({"CourseID":learner_course_obj[i].CourseID, "ClassID":learner_course_obj[i].ClassID}) 
              }
            }
            console.log(completed_courses)
            //send the course list to the get_coursetitle function
            var course_title = get_coursetitle(completed_courses)

            //to put the name, id, usertype under the Account word
            document.getElementById("name").innerHTML = `Hi, ${name} <br> UserID: ${userid} <br> Position: ${type}`


            
          } 
      };
      request.open("GET", HOST + `/user/{{ UserID }}`, true); //hardcoded userid!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      request.send();



      function get_coursetitle(data){
        console.log(data)
        var send_value = {
          data: data
        }
        var request = new XMLHttpRequest();

        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {

              var data = JSON.parse(this.responseText);
              console.log(data)
              var course_list = data.data.courses
              var classes = data.data.classes
              //console.log("HERE")
              //console.log(course_list)
              //console.log(classes)


              for(let i=0; i<classes.length; i++){
                var badge = course_list[i].Badge;
                var title = course_list[i].CourseTitle;
                var end_date = new Date(classes[i].EndDate);
                //console.log(course_list[i].CourseTitle)
                //console.log(classes[i].ClassID)
                //console.log(end_date.getDate(), end_date.getMonth(), end_date.getFullYear())
                console.log(`"{{ url_for('static', filename='img/') }}"`)

                // to create more cards with the courses that is completed
                document.getElementById("user_details").innerHTML += `
                <div class="col-md-3">
                  <div class="probootstrap-teacher text-center">
                    <figure class="media">
                      <img src="/static/img/${badge}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                    </figure>
                    <div class="text">
                      <h3>${title}</h3>
                      <p>Date of completion: ${end_date.getDate()}-${end_date.getMonth() + 1}-${end_date.getFullYear()}</p>
                      <p>Physical Education</p>
                      <ul class="probootstrap-footer-social">
                        <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
                        <li class="facebook"><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li class="instagram"><a href="#"><i class="icon-instagram2"></i></a></li>
                        <li class="google-plus"><a href="#"><i class="icon-google-plus"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>`
              }
            }
          };
        request.open("POST", HOST + "/learner-courses")
        request.setRequestHeader("Content-type", "application/json");
        request.send(JSON.stringify(send_value))
      }
    </script>

  </body>
</html>