<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Class progress</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autoload.js') }}"></script>

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      
      {% include 'header_student.html' %}
      {% include 'secondary_navbar_trainer.html' %}
      
      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1 class="mb0">Track your students' progress here </h1>
            </div>
          </div>
        </div>
      </section>

      

      <section class="probootstrap-section probootstrap-section-sm">
        <div class="container">
              <div class="row probootstrap-gutter0">
                <div class="col-md-4 col-sm-4" style="height:100%">
                  <div class="probootstrap-teacher text-center probootstrap-animate" >
                    <canvas id="final_grade_distribution" style="height:100%"></canvas>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="probootstrap-teacher text-center probootstrap-animate" style="height:100%">
                    <canvas id="section_status" style="height:100%"></canvas>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4">
                  <div class="probootstrap-teacher text-center probootstrap-animate">
                    <canvas id="course_status"></canvas>
                  </div>
                </div>
              </div>

                <div class="row probootstrap-gutter0">
                  <div class="col-md-4 col-sm-6">
                  </div>
                <div class="col-md-4 col-sm-6">
                  <div class="probootstrap-teacher text-center probootstrap-animate" style="height:100%">
                    <canvas id="distribution" style="height:100%"></canvas>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                </div>
              </div>

              </div>
                <div class="row probootstrap-gutter0">
                  <div class="col-md-3 col-sm-6">
                  </div>

                <!-- <div class="col-md-3 col-sm-6">
                  <div class="probootstrap-teacher text-center probootstrap-animate">
                    <canvas id="section_grade" style="width:100%"></canvas>
                  </div>
                </div> -->
                <div class="col-md-3 col-sm-6">
                </div>
                </div>
        </div>
      </section>
      


      <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="probootstrap-footer-widget">
                <h3>Contact Info</h3>
                <ul class="probootstrap-contact-info">
                  <li><i class="icon-location2"></i> <span>Prinsep Street</span></li>
                  <li><i class="icon-mail"></i><span>spm@smu.com</span></li>
                  <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                </ul>
              </div>
            </div>
        </div>
      </footer>

    </div>
    <!-- END wrapper -->
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

      var request = new XMLHttpRequest();

      request.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {

          var data = JSON.parse(this.responseText);
          

          //to get data for the distribution chart
          var obj_distribution = data.data.user_type_distribution
          var user_type = []
          var number_of_user = []
          for(i in obj_distribution){
            user_type.push(i)
            number_of_user.push(obj_distribution[i])
          }

          //to get data for the course_status chart
          var obj_status = data.data.course_status
          var status_type = []
          var status_count = []
          for(k in obj_status){
            status_type.push(k)
            status_count.push(obj_status[k])
          }

          //to get data for the section_status chart
          var obj_section_status = data.data.section_status
          var section_label = []
          var section_value = []
          for(j in obj_section_status){
            section_label.push("Section " + j)
            let completed = obj_section_status[j]['completed']
            let incomplete = obj_section_status[j]['incomplete']
            section_value.push([completed, incomplete])
          }

          //to get data from the final grade quiz result
          var obj_final_grade_quiz = data.data.final_grade
          var final_grade_pass = []
          var final_grade_fail = []
          for(f in obj_final_grade_quiz){
            let final_grade = obj_final_grade_quiz[f]
            if(final_grade >= 85){
              final_grade_pass.push(final_grade)
            }else{
              final_grade_fail.push(final_grade)
            }
          }

          //to get data for the quiz result for each section
          var obj_section_quiz_result = data.data.section_quiz_result
          var sections_quiz = []
          var section_quiz_pass = []
          var section_quiz_fail = []
          for(t in obj_section_quiz_result){
            //console.log(t)
            //to make a new item in the list according to section [0,1] --> 0 is for section 1; 1 is for section 2
            sections_quiz.push("Section " + t)
            section_quiz_pass.push(0)
            section_quiz_fail.push(0)
            let section_obj = obj_section_quiz_result[t]
            //console.log("Section " + t)
            for(section in section_obj){
              //console.log(section)
              result = section_obj[section]
              //console.log(result)
              if(result >= 85){
                section_quiz_pass[t-1] += 1
              }else{
                section_quiz_fail[t-1] += 1
              }
            }
          }
          //console.log(section_quiz_pass)
          ///console.log(section_quiz_fail)

          // chart for the engineer distribution
          var ctx1 = document.getElementById('distribution').getContext('2d');
          var myChart = new Chart(ctx1, {
              type: 'pie',
              data: {
                  labels: user_type,
                  datasets: [{
                      //label: 'Engineers Distribution',
                      data: number_of_user,
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                plugins: {
                  legend: {
                      display: true
                  },
                  title: {
                      display: true,
                      text: 'Engineers Distribution'
                  }
                }
              }
          });

          //chart for how many learners has completed the course
          var ctx2 = document.getElementById('course_status').getContext('2d');
          var myChart = new Chart(ctx2, {
              type: 'bar',
              data: {
                  labels: status_type,
                  datasets: [{
                      //label: 'Engineers Distribution',
                      data: status_count,
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                plugins: {
                  legend: {
                      display: false
                  },
                  title: {
                      display: true,
                      text: 'Learners Status'
                  }
                }
              }
          });

          //chart for section status
          var ctx3 = document.getElementById('section_status').getContext('2d');
          var myChart = new Chart(ctx3, {
              type: 'bar',
              data: {
                  labels: section_label,
                  datasets: getdata(section_value),
              },
              options: {
                plugins: {
                  legend: {
                      display: true
                  },
                  title: {
                      display: true,
                      text: 'Section Status'
                  }
                }
              }
          });


          //chart for the final grade distribution
          var ctx4 = document.getElementById('final_grade_distribution').getContext('2d');
          var myChart = new Chart(ctx4, {
              type: 'bar',
              data: {
                  labels: ['Pass', 'Fail'],
                  datasets: [
                  {
                      //label: 'Pass',
                      data: [final_grade_pass.length,final_grade_fail.length],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                plugins: {
                  legend: {
                      display: false
                  },
                  title: {
                      display: true,
                      text: 'Final Quiz'
                  }
                }
              }
          });

          //chart for the amount of pass/fail for each section
        //   var ctx5 = document.getElementById('section_grade').getContext('2d');
        //   var chart = new Chart(ctx5, {
        //   type: 'bar',
        //   data: {
        //       labels: sections_quiz, // responsible for how many bars are gonna show on the chart
        //       // create 12 datasets, since we have 12 items
        //       // data[0] = labels[0] (data for first bar - 'Standing costs') | data[1] = labels[1] (data for second bar - 'Running costs')
        //       // put 0, if there is no data for the particular bar
        //       datasets: [{
        //         label: 'Pass',
        //         data: section_quiz_pass,
        //         backgroundColor: '#22aa99'
        //       }, {
        //         label: 'Fail',
        //         data: section_quiz_fail,
        //         backgroundColor: '#994499'
        //       }]
        //   },
        //   options: {
        //       responsive: false,
        //       plugins: {
        //           legend: {
        //               display: true,
        //               position: 'right'
        //           },
        //           title: {
        //               display: true,
        //               text: 'Section Quiz Pass/Fail'
        //           }
        //         },
        //       scales: {
        //         x: {
        //             stacked: true // this should be set to make the bars stacked
        //         },
        //         y: {
        //             stacked: true // this also..
        //         }
        //       }
        //   }
        // });


        } 
      };
      request.open("GET", HOST + `/learner_distribution_chart/{{ ClassID }}`, true); //hardcoded classID!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      request.send();

      function getdata(data){

        backgroundColor = [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(255, 206, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 159, 64, 0.2)'
                      ]



        let status = ['completed', 'incomplete']
        let data_list = [[], []] //the first list will be for completed and second will be incomplete

        //i will be for the list array, while k will go more in depth into the array
        //this is to help make the data into complete and incomplete. currently, the data is being mix
        for(i=0; i<data.length; i++){
          //console.log(data[i])
          for(k=0; k<data[i].length; k++){
            //console.log(data[i][k])
            data_list[k].push(data[i][k])
          }
        //console.log(data_list)
        }

        //for the return value to the chart
        output = []
        for(j in data_list){
          output.push({
              label: status[j],
              backgroundColor: backgroundColor[j],
              data: data_list[j]
          })
        }
        //console.log(output)
        return output
      }

    </script>
  </body>
</html>