<!-- second nav bar -->
<nav class="navbar navbar-default probootstrap-navbar">
    <div class="container">
        <div class="navbar-header navbar-left">
        <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://localhost:5001/view-courses">Courses</a></li>
            <li><a href="http://localhost:5001/view-engineers">Engineers</a></li>
            <li><a href="http://localhost:5001/view-application">View Application</a></li>
        </ul>
        </div>
    </div>
</nav>