<!-- second nav bar -->
<nav class="navbar navbar-default probootstrap-navbar">
    <div class="container">
        <div class="navbar-header navbar-left">
        <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/view-section-trainer/{{ CourseID }}/{{ ClassID }}">Content</a></li>
            <li><a href="/progress-tracker/{{ CourseID }}/{{ ClassID }}">Track Progress</a></li>
            <li><a style="color: grey;">Discussion (Coming soon)</a></li>
        </ul>
        </div>
    </div>
    </nav>
    
<script src="{{ url_for('static', filename='js/autoload.js') }}"></script>
<script>
    var anchor = document.getElementsByTagName('a')
    for (anc of anchor){
        anc.href = anc.href.replace('http://localhost:5001', HOST)
        console.log(anc.href)
    }
</script>