<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Applications</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

  
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        text-align: left;
        padding: 8px;
      }

      .hide {
        visibility: hidden;
        border: none;
      }
      </style>
    

  </head>
  
  <body>

    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      
      {% include 'header_hr.html' %}

      {% include 'secondary_navbar_hr.html' %}
      
      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1 class="mb0">View Application</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section probootstrap-section-sm">
        <div class="container">
            <div id="myTable" class="table-responsive">
                <table id="applications" class="table table-hover table-borderless">
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Course Applied</th>
                        <th scope="col">Class Applied</th>
                    </tr>
                </table>
              </div>

        </div>
      </section>

      

      

      
      
      <section class="probootstrap-cta">
        <!-- <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a href="#" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft" onclick="create_course()">Create</a>
            </div>
          </div>
        </div> -->
      </section>


      {% include 'footer_student.html' %}

    </div>
    <!-- END wrapper -->
    
        
    <script>

      var request = new XMLHttpRequest();

      request.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {

          var applications = JSON.parse(this.responseText).data.applications;
          console.log("###################")
          console.log(applications)

          var applications_input = '';
          
          rowNo = 0;

          for(application of applications){
            let userName = application.UserName;
            let courseTitle = application.CourseTitle;
            let classId = application.ClassID;
            let courseId = application.CourseID;
            let userId = application.LearnerID;

            rowNo += 1;

            applications_input += `
            <tr id="row${rowNo}">
              <th scope="row">${userName}</th>
              <td>${courseTitle}</td>
              <td>${classId}</td>
              <td class="hide">${courseId}</td>
              <td class="hide">${userId}</td>
              <td><button type="button" onclick="accept(${rowNo})" class="btn btn-success">Accept</button></td>
              <td><button type="button" onclick="reject(${rowNo})" class="btn btn-danger">Reject</button></td>
            </tr>
            `
          }            
        
        document.getElementById("applications").innerHTML += applications_input

        }

      };
      request.open("GET", "http://localhost:5001/applications")
      request.send();
      

      function accept(rowNo) {
        rowId = "row" + rowNo
        var myRow = document.getElementById(rowId).cells;
        // console.log("&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&")
        // console.log(rowNo)
        // console.log(myRow)
        LearnerID = myRow.item(0).innerHTML
        CourseName = myRow.item(1).innerHTML
        ClassID = myRow.item(2).innerHTML
        CourseID = myRow.item(3).innerHTML
        LearnerID = myRow.item(4).innerHTML
        // console.log("%%%%%%%%%%%%%%%")
        // console.log(LearnerID)
        // console.log(CourseName)
        // console.log(ClassID)
        // console.log(CourseID)

        var send_value = {
          CourseID: CourseID,
          ClassID: ClassID,
          LearnerID: LearnerID
        }
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 201) {

              var data = JSON.parse(this.responseText);
              console.log(data)


            }
        };
        // console.log(JSON.stringify(send_value))
        request.open("POST", "http://localhost:5001/accept_application")
        request.setRequestHeader("Content-type", "application/json");
        request.send(JSON.stringify(send_value))

        // remove accepted applications
        
        console.log("rowId")
        console.log(rowId)
        var row = document.getElementById(rowId);
        console.log("row")
        console.log(row)
        row.parentNode.removeChild(row);

    }

    function reject(rowNo) {
        rowId = "row" + rowNo
        var myRow = document.getElementById(rowId).cells;
        // console.log("&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&")
        // console.log(rowNo)
        // console.log(myRow)
        LearnerID = myRow.item(0).innerHTML
        CourseName = myRow.item(1).innerHTML
        ClassID = myRow.item(2).innerHTML
        CourseID = myRow.item(3).innerHTML
        LearnerID = myRow.item(4).innerHTML
        // console.log("%%%%%%%%%%%%%%%")
        // console.log(LearnerID)
        // console.log(CourseName)
        // console.log(ClassID)
        // console.log(CourseID)

        var send_value = {
          CourseID: CourseID,
          ClassID: ClassID,
          LearnerID: LearnerID
        }
        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 201) {

              var data = JSON.parse(this.responseText);
              console.log(data)


            }
        };
        // console.log(JSON.stringify(send_value))
        request.open("POST", "http://localhost:5001/reject_application")
        request.setRequestHeader("Content-type", "application/json");
        request.send(JSON.stringify(send_value))

        // remove rejected applications
        
        console.log("rowId")
        console.log(rowId)
        var row = document.getElementById(rowId);
        console.log("row")
        console.log(row)
        row.parentNode.removeChild(row);

    }
      
    </script>
  </body>
</html>