<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Enrolled Course Section </title>
    <meta name="description" content="Free Bootstrap Theme by uicookes.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autoload.js') }}"></script>

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
    <style>
      .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer; 
      }
    </style>

    
  </head>
  <body onload='replaceLink()'>
    <script>
      function replaceLink(){
        var anchor = document.getElementsByTagName('a')
        for (anc of anchor){
            anc.href = anc.href.replace('http://localhost:5001', HOST)
            console.log(anc.href)
        }
      }

      function openMaterial(SectionID, file){
        request = new XMLHttpRequest()
        request.open('GET', HOST + `/open-material/{{ CourseID }}/{{ ClassID }}/${SectionID}/${file}/1`)
        request.send()
      }
    </script>
    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      

      {% include 'header_student.html' %}
      {% include 'secondary_navbar_learner.html' %}
      
      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>View Section</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        

        <div class='container' id='sections'>
            
        </div>
      </section>
      
    
      {% include 'footer_student.html' %}

    </div>
    <!-- END wrapper -->


    
    <script>
        var allowedSections = []
        var request = new XMLHttpRequest()
        request.onreadystatechange = function(){
          if (this.status == 200 && this.readyState == 4){
            data = JSON.parse(this.responseText)['allowed_sections']
            allowedSections = data
          }
        }
        request.open('GET', HOST + '/get-learner-quiz/1/{{ CourseID }}/{{ ClassID }}', false) // '1' refers to LearnerID --> currently for test purposes
        request.send()
        
        var request = new XMLHttpRequest()
        request.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200){
                var response = JSON.parse(this.responseText)
                var data = response.data
                for (let i = 1; i <= data.length; i++){
                    idx = i - 1
                    sectionID = data[idx].SectionID
                    sectionName = data[idx].SectionName || 'EmptyName'
                    sectionNameNoSpace = sectionName.replace(/ /g, '-')
                    document.getElementById('sections').innerHTML += `
<div class="row" id='${i}-${sectionID}'>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="${i}-${sectionNameNoSpace}">
                <h5 class="mb-0">
                    <div class="probootstrap-service-2">
                        <div class="text">
                            <h3> <b> Section ${i}: ${sectionName} </b> </h3>
                            
                        </div>
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#${i}-${sectionNameNoSpace}-material" aria-expanded="false" aria-controls="${i}-${sectionNameNoSpace}-material">
                            Show Materials
                        </button>
                    </div>
                </h5>
            </div>
            <div id="${i}-${sectionNameNoSpace}-material" class="collapse" aria-labelledby="${i}-${sectionNameNoSpace}" data-parent="#accordion" aria-expanded="false">
                <!-- For each section material -- use this template -->
                <div id="${i}-${sectionNameNoSpace}-progress" style='text-align:center'>
                  <div id="${i}-${sectionNameNoSpace}-progress-bar" style='width:50%;height:20px;margin-left:25%;background-color:grey;outline: 2px solid grey;'>
                    
                  </div>
                  <div id="${i}-${sectionNameNoSpace}-progress-text">
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>                      
                    `
                    secMatList = data[idx].SectionMaterialList
                    progressBarList = []
                    var original = ''
                    for (let j = 0; j < secMatList.length; j++){
                        materialId = secMatList[j].MaterialID
                        materialTitle = secMatList[j].MaterialTitle
                        materialContent = secMatList[j].MaterialContent
                        original = 'NOT OPENED'
                        var requestProgress = new XMLHttpRequest()
                        requestProgress.onreadystatechange = function(){
                          if (this.status == 200){
                            console.log('here')
                            original = 'OPENED'
                            progressBarList.push(original)

                          }
                          else if (this.status == 404){
                            original = 'NOT OPENED'
                            progressBarList.push(original)

                          }
                        }
                        requestProgress.open("GET", HOST + `/check-opened-material/{{ CourseID }}/{{ ClassID }}/${sectionID}/${materialId}/1`, false)
                        requestProgress.send()
                        
                        document.getElementById(`${i}-${sectionNameNoSpace}-material`).innerHTML +=`
                        <div class="card-body" style="">
                            <div class='row'>
                              <div class ='col-md-8'>
                                <span style="width:80%"> <b> <a href='http://localhost:5001/view-material/{{ CourseID }}/{{ ClassID }}/${sectionID}/${materialId}/1'> ${materialTitle} </a> </b> </span>
                              </div>
                              <div class='col-md-4'>
                                <span> ${original} </span>
                              </div>
                            </div>
                            <hr>
                        </div>
                        `
                    }
                    openedCount = 0
                    for (checkOpened of progressBarList){
                      if (checkOpened == 'OPENED'){
                        openedCount += 1
                      }
                    }
                    allCount = progressBarList.length
                    percentage = openedCount*100/allCount 
                    progressTextHTML = `${percentage}% ${openedCount} out of ${allCount} material opened`
                    document.getElementById(`${i}-${sectionNameNoSpace}-progress-text`).innerHTML = progressTextHTML
                    progressBarHTML = `<div style='width:${percentage}%; height:20px; background-color:green'></div>`
                    document.getElementById(`${i}-${sectionNameNoSpace}-progress-bar`).innerHTML = progressBarHTML
                    styleHTML = ''
                    if (!allowedSections.includes(sectionID)){
                      styleHTML += 'pointer-events: none; opacity: 0.4'
                      document.getElementById(`${i}-${sectionID}`).style = styleHTML
                    }
                    var requestGetQuiz = new XMLHttpRequest()
                    requestGetQuiz.onreadystatechange = function(){
                      if (this.readyState == 4 && this.status == 200){
                        response = JSON.parse(this.responseText)
                        console.log(response)
                        quizTitle = response.data.QuizTitle
                        quizID = response.data.QuizID
                        quizTimer = response.data.QuizTimer
                        if (response.greyOut == true){
                          document.getElementById(`${i}-${sectionNameNoSpace}-material`).innerHTML +=`
                          </hr>
                          <div class="card-body">
                                <div class='row'>
                                  <div class ='col-md-8' style='pointer-events: none; opacity: 0.4'>
                                    <span style="width:80%"> <a href='http://localhost:5001/take-ungraded-quiz/${quizID}'> <b> Quiz: ${quizTitle} </b> </a>  </span> 
                                  </div>
                                  <div class='col-md-4'>
                                    <b> ${quizTimer} </b>
                                  </div>
                                </div>
                                <hr>
                            </div>
                          `
                        }
                        else{
                          document.getElementById(`${i}-${sectionNameNoSpace}-material`).innerHTML +=`
                          </hr>
                          <div class="card-body">
                                <div class='row'>
                                  <div class ='col-md-8'>
                                    <span style="width:80%"> <a href='http://localhost:5001/take-ungraded-quiz/${quizID}'> <b> Quiz: ${quizTitle} </b> </a>  </span> 
                                  </div>
                                  <div class='col-md-4'>
                                    <b> ${quizTimer} </b>
                                  </div>
                                </div>
                                <hr>
                            </div>
                          `
                        }
                      }
                    }
                    requestGetQuiz.open("GET", HOST + `/get-section-quiz/{{ CourseID }}/{{ ClassID }}/${sectionID}/1`, false)
                    requestGetQuiz.send()
                }
                
            }
        }
        request.open('GET', HOST + '/view-section/{{ CourseID }}/{{ ClassID }}', false)
        request.send()

    
    </script>
  </body>
</html>