<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View Courses</title>
    <meta name="description" content="Free Bootstrap Theme by uicookies.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->

    <style>
      .accordion__button{
        cursor: pointer;
        width: 100%;
        padding: 1px;
      }
     
      table, tr, th, td {
          padding: 20px;  
          
      }
     
      
      table{
        border-collapse: collapse;
        box-sizing:0 5px 10px lightgrey;
      }
      tr{
        box-shadow:0 5px 10px lightgrey;
      }
      .design{
        box-shadow:0 5px 10px lightgrey;
        font-size: 17px;
        text-transform:uppercase;
        background-color: grey;
        color: white;
      }

      
    </style>


  </head>
  <body>

    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      
      {% include 'header_student.html' %}
      
      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>Courses</h1>
            </div>
          </div>
        </div>
      </section>

      

      <section class="probootstrap-section probootstrap-section-sm">
        <div class="container">
          <div class="text-right">
            <button class="btn btn-primary" onclick="createCourse()"> Create Course</button>
          </div>
        </div><br/>
        
        
        <div class="container">
          
            
            <div class='row'>
                <div class='col-md-12'>
                  <div id='CourseList'> <!--TAKE THE COURSE ID FROM THE TABLE-->
                    
                    
                  </div>
                </div>
            </div>
        </div>
      </section>
      
      
      {% include 'footer_student.html' %}

    </div>
    <!-- END wrapper -->
    <script>
      localStorage.id = 1

      // to use GET request
      var request = new XMLHttpRequest();

      request.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {

            var data = JSON.parse(this.responseText);
            console.log(data)
            console.log(data.data.course)
            //to get the course data from py file
            courses_data = data.data.course
            // window.location.replace(window.location.href)

            //to get course title and push into the course_title list
            var course_title = []
            var course_id = []
            var course_description = []

            for(course in courses_data){
              course_title.push(courses_data[course]['CourseTitle'])
              course_id.push(courses_data[course]['CourseID'])
              course_description.push(courses_data[course]['CourseDescription'])
            }
            
            console.log(course_title)
            console.log(course_id)
            console.log(course_description)



            //to input the data into webpage
            var table = document.getElementById("CourseList")
            for(i in course_title){
              console.log(i)
              console.log(course_id[i])
              table.innerHTML += `
                      <table>
                        <tr style='background-color:rgba(211, 183, 153, 0.5)'>
                          <th style='width:20%'>${course_title[i]}</th>
                          
                          <td style='width:10%'>${course_id[i]}</td>
                          <td style='width:50%'>${course_description[i]}</td>
                          
                      
                          <td style='width:10%'><button class="btn btn-link collapsed" data-toggle="collapse" aria-expanded="false" onclick='show(${course_id[i]})'>
                          Show Classes </button></td>

                          <td style='width:10%'> <button class='btn btn-primary' onclick="createClass(${course_id[i]})"> Create Class </button> </td>
                        </tr>
                      </table>

                      <span id="course-${course_id[i]}"></span>
                      <br><br>

      
                  `
                    }

            }
            // for(i in course_class){
            //   table.innerHTML += `<table hidden>
            //       <tr>
            //       <td>${class_id[i]}</td>
            //       <td>${class_startDate[i]}</td>
                       
            //       </tr>
            //       </table>`

            // }

            
          }
      // };
      request.open("GET", "http://localhost:5001/courses", false);
      request.send();

      function createCourse(){

        window.location.href = `http://localhost:5001/create-course`

      }
      function createClass(CourseID){

        window.location.href = `http://localhost:5001/create-class/${CourseID}`

      }
        
      // to use GET request
      var requestClass = new XMLHttpRequest();

      requestClass.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {

            var data = JSON.parse(this.responseText);
            console.log("class")
            console.log(data)
            console.log(data.data.classes)
            // window.location.replace(window.location.href)
            classes_data = data.data.classes

            //to get course title n push into the course_title list
            
            var class_id= []
            var class_startDate = []
            var class_endDate = []
            var class_size = []
            var course_id =[]
            var registration_start =[]
            var registration_end=[]

            for(course_class in classes_data){
              course_id.push(classes_data[course_class]['CourseID'])
              class_id.push(classes_data[course_class]['ClassID'])
              class_startDate.push(classes_data[course_class]['StartDate'])
              class_endDate.push(classes_data[course_class]['EndDate'])
              class_size.push(classes_data[course_class]['ClassSize'])
              registration_start.push(classes_data[course_class]['RegistrationStartDate'])
              registration_end.push(classes_data[course_class]['RegistrationEndDate'])
              
            }
           
            console.log(course_id)
            console.log(class_id)
            console.log(class_startDate)
            console.log(class_endDate)
            console.log(class_size)
            console.log(registration_start)
            console.log(registration_end)


            // input class data into webpage table

            
            for(i in classes_data){
              console.log(course_id[i])
              var table = document.getElementById(`course-${course_id[i]}`)
              
              table.innerHTML += `
              <table id="course-${course_id[i]}">
                <tr>
                  <td style='width:10%'>Class ID: ${class_id[i]}</td>
                  <td style='width:20%'>Start Date: ${class_startDate[i]}</td>
                  <td style='width:20%'>End Date: ${class_endDate[i]}</td>
                  <td>Class Size: ${class_size[i]}</td>
             
                  <td style='width:20%'>Registration Start Date: ${registration_start[i]}</td>
                  <td style='width:20%'>Registration End Date: ${registration_end[i]}</td>
                  <td style='width:10%'> <a href='http://localhost:5001/assign-learner/${course_id[i]}/${class_id[i]}'> Assign Learners </a> </td>
                </tr>
              </table>
                `
              
            }


            // function show(id){
            //   var table = document.getElementById(id)
            //   table.innerHTML = "hello"
                
            // }



            // function hide(){

            // }
            // <td>${class_id[i]}</td>


            // var table = document.getElementById('CourseList')
            // for(i in course_class){
            //   console.log(i)
              
            //   table.innerHTML += `<table hidden>
            //       <tr>
            //       <td>${class_id[i]}</td>
            //       <td>${class_startDate[i]}</td>
                       
            //       </tr>
            //       </table>`
                  
            //   }



            //   table.innerHTML += `<tr>
            //             <td>${class_id[i]}</td>
            //             <td>${class_startDate[i]}</td>
            //             <td>${class_endDate[i]}</td>
            //             <td>${class_size[i]}</td>
                        
            //           </tr>`
            

            
          }
      };
      requestClass.open("GET", "http://localhost:5001/classes", false);
      requestClass.send();

    </script>

  </body>
</html>