<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Section</title>
    <meta name="description" content="Free Bootstrap Theme by uicookes.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-merged.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/autoload.js') }}"></script>

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
    <style>
      .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer; 
      }
    </style>

    
  </head>
  <body>

    <div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
    </div>
    
    <div class="probootstrap-page-wrapper">
      <!-- Fixed navbar -->
      

      {% include 'header_student.html' %}
      {% include 'secondary_navbar_trainer.html' %}
      
      <section class="probootstrap-section probootstrap-section-colored">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left section-heading probootstrap-animate">
              <h1>View Section</h1>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        
        <div class='container'>
          <div class='row'>
            <div class='col-md-5'>

            </div>
            <div class='col-md-2' style='text-align:center;'>
              <button class='btn btn-primary' onclick='createSection({{ CourseID }}, {{ ClassID }})'> Create a Section </button>
            </div>
            <div class='col-md-5'>

            </div>
          </div>
        </div>
        <br>
        <div class='container' id='sections'>
            
        </div>
      </section>
      
    
      {% include 'footer_student.html' %}

    </div>
    <!-- END wrapper -->


    
    <script>
        
        var request = new XMLHttpRequest()
        request.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200){
                var response = JSON.parse(this.responseText)
                var data = response.data
                for (let i = 1; i <= data.length; i++){
                    idx = i - 1
                    courseID = data[idx].CourseID
                    classID = data[idx].ClassID
                    sectionID = data[idx].SectionID
                    sectionName = data[idx].SectionName || 'EmptyName'
                    console.log(sectionName)
                    sectionNameNoSpace = sectionName.replace(/ /g, '-')
                    document.getElementById('sections').innerHTML += `
<div class="row" id='${i}-${sectionID}'>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="${i}-${sectionNameNoSpace}">
                <h5 class="mb-0">
                    <div class="probootstrap-service-2">
                        <div class="text">
                            <h3> <b> Section ${i}: ${sectionName} </b> </h3>
                            
                        </div>
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#${i}-${sectionNameNoSpace}-material" aria-expanded="false" aria-controls="${i}-${sectionNameNoSpace}-material">
                            Show Materials
                        </button>
                        <button class='btn btn-link' onclick='addMaterial(${courseID}, ${classID}, ${sectionID}, "${sectionName}")'>
                          Add Materials
                        </button>
                    </div>
                </h5>
            </div>
            <div id="${i}-${sectionNameNoSpace}-material" class="collapse" aria-labelledby="${i}-${sectionNameNoSpace}" data-parent="#accordion" aria-expanded="false">
                
            </div>
        </div>
    </div>
</div>                      
                    `
                    secMatList = data[idx].SectionMaterialList

                    for (let j = 0; j < secMatList.length; j++){
                        materialContent = secMatList[j].MaterialContent

                        if (!materialContent.includes('</a>')){
                          document.getElementById(`${j}-${sectionNameNoSpace}-material`).innerHTML +=`
                          <div class="card-body" style="">
                              <div class='row'>
                                <div class ='col-md-8'>
                                  <span style="width:80%"> <b> <a href=
                                    HOST + '/view-material/{{ CourseID }}/{{ ClassID }}/${sectionID}/${materialContent}'> ${materialContent} </a> </b> </span>
                                </div>
                                <div class='col-md-4'>
                                  <button id='remove-material-${j}-${sectionNameNoSpace}'> Remove Material </button>
                                </div>
                              </div>
                              <hr>
                          </div>
                          `
                        }
                        else{
                          document.getElementById(`${j}-${sectionNameNoSpace}-material`).innerHTML +=`
                          <div class="card-body" style="">
                              <div class='row'>
                                <div class ='col-md-8'>
                                  <span style="width:80%"> <b> ${materialContent} </b> </span>
                                </div>
                                <div class='col-md-4'>
                                  <button id='remove-material-${j}-${sectionNameNoSpace}' > Remove Material </button>
                                </div>
                              </div>
                              <hr>
                          </div>
                          `
                        }
                        document.getElementById(`${j}-${sectionNameNoSpace}-material`).addEventListener('click', function(){removeMat(courseID, classID, sectionID, materialContent)})

                    }
                    var requestGetQuiz = new XMLHttpRequest()
                    requestGetQuiz.onreadystatechange = function(){
                      if (this.readyState == 4 && this.status == 200){
                        response = JSON.parse(this.responseText).data
                        console.log(response)
                        quizTitle = response.QuizTitle
                        quizID = response.QuizID
                        quizTimer = response.QuizTimer
                        document.getElementById(`${i}-${sectionNameNoSpace}-material`).innerHTML +=`
                        </hr>
                        <div class="card-body">
                              <div class='row'>
                                <div class ='col-md-8'>
                                  <span style="width:80%"> <b> Quiz: ${quizTitle} </b>  </span> 
                                </div>
                                <div class='col-md-4'>
                                  <b> ${quizTimer} </b>
                                </div>
                              </div>
                              <hr>
                          </div>
                        `
                      }
                    }
                    requestGetQuiz.open("GET", HOST + `/get-section-quiz-trainer/{{ CourseID }}/{{ ClassID }}/${sectionID}`, false)
                    requestGetQuiz.send()
                   
                    
                }
                
            }
        }
        request.open('GET', HOST + '/view-section/{{ CourseID }}/{{ ClassID }}')
        request.send()

        function addMaterial(CourseID, ClassID, SectionID, SectionName){
          window.location.href = HOST + `/add-section-material/${CourseID}/${ClassID}/${SectionID}/${SectionName}`
        }

        function removeMat(courseID, classID, sectionID, materialContent){
          requestBody = {
            "CourseID": courseID,
            "ClassID": classID,
            "SectionID": sectionID,
            "MaterialContent": materialContent
          }
          request = new XMLHttpRequest()
          request.onreadystatechange = function(){
            if (this.status == 200 && this.readyState == 4){
              window.alert('FILE HAS BEEN REMOVED.')
              location.reload()
            }
          }
          request.open('POST', HOST + '/remove-material')
          request.setRequestHeader("Content-type", "application/json");          
          request.send(JSON.stringify(requestBody))
        }

        function createSection(CourseID, ClassID){          
          window.location.href = HOST + `/create-new-section/${CourseID}/${ClassID}`
        }
    </script>
  </body>
</html>